@{
    ViewData["Title"] = "Equipo";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<section class="team">
    <div class="container">

        <div class="section-title">
            <h3>Equipo Desarrollador</h3>
            <hr>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/assets/img/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Alexander Chancayauri</h4>
                            <span>Back-end</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/assets/img/yamil.jpeg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Yamil Arpasi</h4>
                            <span>Back-end</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/assets/img/jhonatan.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Jhonatan Rivas</h4>
                            <span>Front-end</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/assets/img/team-4.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Melissa Parra</h4>
                            <span>Front-end</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section><!-- End About Section -->



