@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<!-- ======= About Section ======= -->
<section id="Acercadenosotros" class="Acercadenosotros">
    <div class="container">

        <div class="section-title">
            <h2>Acerca de Nosotros</h2>
            <h3>Gimnasio <span>Mutan Gym Quillabamba</span></h3>
            <p>
                Somos la mejor alternativa para que realices tu entrenamiento en amplios y confortables
                espacios.
                Estaremos contigo para apoyarte si es que asumes el reto de empezar con un estilo de vida
                activa y lleno de energía. No somos noveles en esto; tenemos experiencia y sobre todo mucha
                pasión por el Fitness.
            </p>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <div class="acerca"></div>
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0">
                <center> <h2>Visión</h2></center>
                <p>
                    <center>
                        Ser el gimnasio líder en la ciudad y el país, brindando bienestar a nuestros miembros.
                    </center>
                </p>
                <center><h2>Misión</h2></center>
                <p>
                    <center>
                        Brindar a nuestros miembros una salud física y mental, para ayudarles a alcanzar
                        sus objetivos individuales; con nuestra experiencia les proveemos bienestar en base
                        a un esmerado servicio.
                    </center>
                </p>
            </div>
        </div>

        <!-- ======= Services Section ======= -->
        <section id="Horarios" class="Horarios">
            <div class="container">

                <div class="row content">
                    <div class="col-lg-6">

                        <br><br><br><br><center><b><FONT SIZE=6  color="#F6C90E">Conóce Nuestros Horarios</FONT></b></center>

                        <p>
                            <center><b><FONT SIZE=6>Lunes a Viernes</FONT></b></center>
                            <center><FONT SIZE=5>6:00 a.m. - 8:00 p.m.</FONT></center>
                        </p>

                        <p>
                            <center><b><FONT SIZE=6>Sabados y Domingos</FONT></b></center>
                            <center><FONT SIZE=5>6:00 a.m. - 10:00 p.m.</FONT></center>
                        </p>
 
                    </div>

                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <div style="padding: 10px;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31115.97342582266!2d-72.70706729635619!3d-12.87575241800572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91727d8c0f444a91%3A0x655505b559aa38fb!2sQuillabamba!5e0!3m2!1ses-419!2spe!4v1635354878306!5m2!1ses-419!2spe"
                                    width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- End Services Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Vamos a vencer al COVID-19</h2>
                    <h3>Cambios <span>Importantes</span></h3>
                    <p> Necesitamos de tu ayuda. Solo así vamos a lograr un Mutan Gym más seguro para todos.</p>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-4 mb-lg-0">
                        <div class="icon-box">
                            <h4 class="title">Distanciamiento Corporal</h4>
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.smartfit.com.br/covid/icon-distancia.png" alt="" src="https://cdn.smartfit.com.br/covid/icon-distancia.png" width="200" height="200">
                            <p class="description"> Deshabilitamos la mitad de las máquinas cardiovasculares para mantener una distancia segura.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-4 mb-lg-0">
                        <div class="icon-box">
                            <h4 class="title"><a href="">Desinfección Completa</a></h4>
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.smartfit.com.br/covid/icon-desinfeccao.png" alt="" src="https://cdn.smartfit.com.br/covid/icon-desinfeccao.png" width="200" height="200">
                            <p class="description">Limpieza profunda por áreas 3 veces al día y desinfección periódica con un sistema de aspersión especializado contra virus y bacterias.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-4 mb-lg-0">
                        <div class="icon-box">
                            <h4 class="title">Uso de Mascarilla</h4>
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.smartfit.com.br/covid/icon-usaremos-mascara.png" alt="" src="https://cdn.smartfit.com.br/covid/icon-usaremos-mascara.png" width="200" height="200">
                            <p class="description">El uso de la mascarilla es obligatorio para los clientes y nuestro equipo.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-4 mb-lg-0">
                        <div class="icon-box">
                            <h4 class="title">Control de Ingreso></h4>
                            <img class=" ls-is-cached lazyloaded" data-src="https://cdn.smartfit.com.br/covid/icon-termometro.png" alt="" src="https://cdn.smartfit.com.br/covid/icon-termometro.png" width="200" height="200">
                            <p class="description">Tenemos alfombras en la entrada para que desinfectes tus zapatillas. Mediremos tu temperatura en la recepción. Si está por encima de 37.8° C, ve a casa por favor.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->
        <section id="cta" class="cta">
            <div class="container">

                <div class="text-center">
                    <h3>Registrate y Obtén Mas Beneficios</h3>
                    <p>
                        Conviertete en uno mas de nuestra familia y haste duro con nosotros.
                    </p>
                    <a class="cta-btn" href="~/Home/Registrar">Registrar</a>
                </div>

            </div>
        </section><!-- End Cta Section -->
        <!-- probando tabla-->
        <div class="container">
            <div></div>
        </div>

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contacto</h2>
                    <h3>Contactanos<span></span></h3>
                    <p>Dejanos un mensaje y nosotros te llamamos, gracias.</p>
                </div>



                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Localización:</h4>
                                <p>C. Sambaray, Quillabamba 08741</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>informes@mutantgym.pe</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Celular:</h4>
                                <p>+51 953 352 761</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Tu Nombre" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Tu Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Teléfono/Celular" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="Mensaje" rows="5" placeholder="Message"
                                          required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Cargando</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Tu mensaje ha sido enviado. Gracias!</div>
                            </div>
                            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                        </form>

                    </div>



                </div>

            </div>
        </section><!-- End Contact Section -->


    </div>
</section>