<!-- Modal Personal Mantenimiento -->
@model ProyectoUSMP_GYM.Models.ModelDB.Personaladm

<div class="modal fade" id="modal-default" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@(Model.PkPersonal !=0 ? "Actualizar":"Registrar") Personal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormSavePersonal">
                    <input type="hidden" asp-for="PkPersonal">
                    <div class="form-row">
                        <div class="col">
                            <label asp-for="Nombre"></label>
                            <input type="text" class="form-control form-control-sm" placeholder="Nombre" asp-for="Nombre" autocomplete="off">
                        </div>
                        <div class="col">
                            <label>Dni</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Dni" asp-for="Dni" autocomplete="off">
                            <span asp-validation-for="Dni" class="alert-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Apellido Paterno</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Apellido Paterno" asp-for="Apellidopaterno" autocomplete="off">
                        </div>
                        <div class="col">
                            <label>Apellido Materno</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Apellido Materno" asp-for="Apellidomaterno" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Telefono</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Telefono" asp-for="Telefono" autocomplete="off">
                        </div>
                        <div class="col">
                            <label>Direccion</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Direccion" asp-for="Direccion" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Email</label>
                            <input type="email" class="form-control form-control-sm" placeholder="Email" asp-for="Email" autocomplete="off">
                        </div>
                        <div class="col">
                            <label>Rol</label>
                            <select class="form-control form-control-sm" asp-for="FkRol">
                                @foreach (var Rol in ViewBag.Roles)
                                {
                                    <option value="@Rol.PkErol"> @Rol.Descripcion </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Usuario</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Usuario" asp-for="Usuario" autocomplete="off">
                        </div>
                        <div class="col">
                            <label>Contraseña</label>
                            <input type="password" class="form-control form-control-sm" placeholder="Password" asp-for="Passwords">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id=@(Model.PkPersonal !=0 ? "btnUpdate": "btnSave")>@(Model.PkPersonal!=0 ? "Actualizar":"Guardar")</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {}